.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media screen and (min-width: $breakpoint-small) {
  .categories.anchored,
  .links.anchored {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
}